<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
  id="mainNav">
  <div class="container">
    <% if (page_name === 'index') { %>
      <a class="navbar-brand" href="/#start">Freelancer</a>
    <% } %>
    <% if (page_name === 'admin') { %>
      <a class="navbar-brand" href="/#start">Freelancer</a>
    <% } %>
    <button
      class="
        navbar-toggler
        text-uppercase
        font-weight-bold
        bg-primary
        text-white
        rounded
      "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <% if (page_name === 'index') { %>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#start">Start</a>
        </li>
        <% } %>
        <% if (page_name === 'admin') { %> 
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Edit Portfolio</a>
          </li>
        <% } %>
        <% if (page_name === 'index') { %> 
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a>
        </li>
        <% } %>
        <% if (page_name === 'index') { %> 
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a>
        </li>
        <% } %>
        <% if (page_name === 'index') { %>        
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a>
        </li>
        <% } %>
        <% if (page_name === 'index' && userIN) { %>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/admin"><i class="fas fa-user-cog"></i> </a>
          </li>
        <% } %>         
        <% if(!userIN) { %>   
        <li class="nav-item mx-0 mx-lg-1">
          <a class="portfolio-item nav-link py-3 px-0 px-lg-3 rounded" href="/#" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <% } %>
        <% if(userIN) { %>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        </li>                    
        <% } %>
      </ul>
    </div>
  </div>
</nav>
